@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import '//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  overflow-x: hidden;
}
