.img {
  -webkit-animation: moveUpDown 1s infinite alternate;
  animation: moveUpDown 1s infinite alternate;
  width: 180px;
  height: 200px;
}

@-webkit-keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}

@media screen and (max-width: 600px) {
  .img {
    width: 120px;
    height: 140px;
  }
}
